<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/contactos.css">
</head>
<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="nav">
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Vida.html">Vida</a></li>
                <li><a href="influencias.html">Influencias</a></li>
                <li><a href="invenciones.html">Invenciones</a></li>
                <li><a href="">Contactos</a></li>
            </ol>
        </div>
        <div id="body">
            <div id="body-1">
                <h3>Contactos</h3>
                <form action="" method="POST">
                    <div id="nosotros">
                        <h4>Nombre</h4>
                        <input type="text" name="nombre" placeholder="Nombre">    
                    </div>
                    <div id="servicios">
                        <h4>Correo</h4>
                        <input type="email" name="correo" placeholder="ejemplo123@dominio.com">    
                    </div>
                    <div id="productos">
                        <h4>Caso</h4>
                        <textarea name="issue" id="" cols="33" rows="10" placeholder="Escriba aqui..."></textarea>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
                
            </div>
        </div>
        <footer>
            <div id="footer">
                <span>&copy; 2023. Todos los derechos reservados</span>
                <span>Maracaibo - Venezuela</span>
            </div>
        </footer>
    </div>
</body>
</html>