<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/influencias.css">
</head>
<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="nav">
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Vida.html">Vida</a></li>
                <li><a href="">Influencias</a></li>
                <li><a href="invenciones.html">Invenciones</a></li>
                <li><a href="contactos.html">Contactos</a></li>
            </ol>
        </div>
        <div id="body">
            <div id="body-1">
                <h3>Influencias</h3>
                <span>Thomas Edison tuvo una tremenda influencia en el campo de la innovación y la tecnología, y su trabajo inspiró a numerosos inventores y científicos prominentes.</span>
                
                <div id="nosotros">
                    <h4>Nikola Tesla</h4>
                    <span>Trabajó en la compañía de Edison durante un tiempo y fue influenciado por su enfoque en la corriente continua. Sin embargo, su relación se volvió tensa debido a diferencias en la visión tecnológica, y Tesla eventualmente desarrolló la corriente alterna (AC), que fue una competencia directa para el sistema de distribución de corriente continua (DC) de Edison.</span>
                    <div id="gallery2">
                        <img src="../assets/img/Tesla.jpeg" alt="Nikola Tesla" title="Nikola Tesla">
                    </div>
                </div>
                <div id="servicios">
                    <h4>Alexander Graham Bell</h4>
                    <span>Aunque Edison y Bell estaban en competencia en el campo de las comunicaciones, ambos inventores se influenciaron mutuamente. Bell admiraba el trabajo de Edison en el fonógrafo y utilizó algunos de sus principios en el desarrollo del teléfono.</span>
                    <div id="gallery2">
                        <img src="../assets/img/Bell.webp" alt="Alexander Bell" title="Alexander Bell">
                    </div>
                </div>
                <div id="servicios">
                    <h4>Henry Ford</h4>
                    <span>Ford estaba inspirado por el enfoque pragmático de Edison hacia la innovación y la aplicación práctica. Se dice que Ford consideraba a Edison como su mentor y amigo, y su filosofía de producción en masa en la industria automotriz reflejaba el enfoque de Edison en la producción y la eficiencia.</span>
                    <div id="gallery2">
                        <img src="../assets/img/Ford.webp" alt="Hendry Ford" title="Henry Ford">
                    </div>
                </div>
                <div id="contactos">
                    <h4>George Westinghouse</h4>
                    <span>Westinghouse fue un importante rival de Edison en la Guerra de las Corrientes. Westinghouse se basó en los principios de corriente alterna de Tesla y demostró la viabilidad y las ventajas del sistema de distribución de AC frente al sistema de DC de Edison.</span>
                    <div id="gallery2">
                        <img src="../assets/img/George.jfif" alt="George Westinghouse" title="George Westinghouse">
                    </div>
                </div>
                <div id="servicios">
                    <span>El enfoque de Thomas Edison en la innovación práctica y su visión empresarial influyeron en numerosos avances tecnológicos y en la mentalidad de muchos inventores y emprendedores de la época y posteriores.</span>
                </div>
            </div>
        </div>
        <footer>
            <div id="footer">
                <span>&copy; 2023. Todos los derechos reservados</span>
                <span>Maracaibo - Venezuela</span>
            </div>
        </footer>
    </div>
</body>
</html>