<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/influencias.css">
</head>
<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="nav">
            <ol>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Vida.html">Vida</a></li>
                <li><a href="influencias.html">Influencias</a></li>
                <li><a href="">Invenciones</a></li>
                <li><a href="contactos.html">Contactos</a></li>
            </ol>
        </div>
        <div id="body">
            <div id="body-1">
                <h3>Invenciones</h3>
                <span>El trabajo de Thomas Alva Edison abarcó una amplia gama de áreas, desde la iluminación y la grabación de sonido hasta la cinematografía y las baterías, y su legado en el campo de la innovación y la tecnología sigue siendo relevante hoy en día.</span>
                
                <div id="nosotros">
                    <h4>Fonógrafo (1877)</h4>
                    <span>El fonógrafo fue uno de los inventos más importantes de Edison. Permitía grabar y reproducir sonidos, sentando las bases para la industria discográfica y la grabación de audio.
                    </span>
                    <div id="gallery2">
                        <img src="../assets/img/R (1).jfif" alt="Fonógrafo" title="Fonógrafo">
                    </div>
                </div>
                <div id="servicios">
                    <h4>Bombilla incandescente (1879)</h4>
                    <span>Edison desarrolló una bombilla eléctrica práctica y duradera. Su diseño utilizaba un filamento de carbono que prolongaba significativamente la vida útil de la bombilla.
                    </span>
                    <div id="gallery2">
                        <img src="../assets/img/light_bulb.webp" alt="Bombillo" title="Bombillo">
                    </div>
                </div>
                <div id="servicios">
                    <h4>Sistema de distribución eléctrica (1880)</h4>
                    <span>Edison diseñó un sistema de distribución eléctrica que permitía llevar la electricidad a los hogares y las ciudades. Esto fue fundamental para la electrificación generalizada.
                    </span>
                    <div id="gallery2">
                        <img src="../assets/img/electric.jfif" alt="Sistema de Distribución Electrica" title="Sistema de Distribución Electrica">
                    </div>
                </div>
                <div id="contactos">
                    <h4>Cámara de cine (1891)</h4>
                    <span>Edison patentó una cámara de cine y un proyector, sentando las bases para la industria cinematográfica. Sus innovaciones contribuyeron al desarrollo del cine y la grabación de movimiento.
                    </span>
                    <div id="gallery2">
                        <img src="../assets/img/camaraCine.jpg" alt="Camara de Cine" title="Camara de Cine">
                    </div>
                </div>
                <div id="servicios">
                    <h4>Batería alcalina (1901)</h4>
                    <span>Edison desarrolló una batería alcalina mejorada que tenía una vida útil más larga y era más eficiente que las baterías existentes. Su invención tuvo aplicaciones en diversas industrias.
                    </span>
                    <div id="gallery2">
                        <img src="../assets/img/alcalina.jpeg" alt="Bateria Alcalina" title="Bateria Alcalina">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="footer">
                <span>&copy; 2023. Todos los derechos reservados</span>
                <span>Maracaibo - Venezuela</span>
            </div>
        </footer>
    </div>
</body>
</html>